!
interface lo0
ip address {{lo0_ipv4}}
ip router isis NAME
!
router isis NAME
net {{isis_net}}
is-type level-1
!
interface swp1
ip address {{swp1}}
ip router isis NAME
no shutdown
!
interface swp2
ip address {{swp2}}
ip router isis NAME
no shutdown
!
interface swp3
ip address {{swp3}}
ip router isis NAME
no shutdown
!